@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.box1 {
    width: 300px;
    height: 400px;
    background: rgba(0,0,0,0.6);
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    .box1-yi {
        h2 {
            color: white;
        }
    }
    .box1-er {
        span {
            color: whitesmoke;
            font-size: 12px;
            padding: 25px;
        }
        .span {
            margin-left: 40px;
        }
    }
    p {
        color: whitesmoke;
        font-size: 12px;
    }
    .box2 {
        position: relative;
        input {
            width: 245px;
            height: 25px;
            border: 0;
        }
        button {
            width: 25px;
            height: 25px;
            border: 0;
            padding: 4px;
        }
        ul {
            z-index: 10;
            display: none;
            position: absolute;
            left: 15px;
            top: 33px;
            background: white;
            li {
                width: 245px;
                height: 25px;
                line-height: 25px;
                border: 1px solid #ccc;
            }
        }
    }
    .button {
        width: 270px;
        height: 25px;
        background: #0094EF;
        border: 0;
        margin-top: 20px;
        color:white ;
    }
}