* {
  margin: 0;
  padding: 0;
  list-style: none; }

.box1 {
  width: 300px;
  height: 400px;
  background: rgba(0, 0, 0, 0.6);
  line-height: 40px;
  text-align: center;
  margin: 0 auto; }
  .box1 .box1-yi h2 {
    color: white; }
  .box1 .box1-er span {
    color: whitesmoke;
    font-size: 12px;
    padding: 25px; }
  .box1 .box1-er .span {
    margin-left: 40px; }
  .box1 p {
    color: whitesmoke;
    font-size: 12px; }
  .box1 .box2 {
    position: relative; }
    .box1 .box2 input {
      width: 245px;
      height: 25px;
      border: 0; }
    .box1 .box2 button {
      width: 25px;
      height: 25px;
      border: 0;
      padding: 4px; }
    .box1 .box2 ul {
      z-index: 10;
      display: none;
      position: absolute;
      left: 15px;
      top: 33px;
      background: white; }
      .box1 .box2 ul li {
        width: 245px;
        height: 25px;
        line-height: 25px;
        border: 1px solid #ccc; }
  .box1 .button {
    width: 270px;
    height: 25px;
    background: #0094EF;
    border: 0;
    margin-top: 20px;
    color: white; }
