@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "微软雅黑";
  box-sizing: border-box; }

.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

.li3 {
  border-bottom: 1px solid #FE7619;
  color: #FE7619; }

header a {
  text-decoration: none;
  width: 100%; }
  header a img {
    width: 100%; }
header .nav {
  width: 100%;
  height: 40px;
  background: #333333;
  position: relative; }
  header .nav .nav1 {
    width: 1200px;
    margin: 0 auto; }
    header .nav .nav1 .ul1 {
      position: relative; }
      header .nav .nav1 .ul1 li {
        float: left;
        padding: 0 10px;
        text-align: center;
        margin-top: 8px; }
        header .nav .nav1 .ul1 li a {
          color: #9AA5A9;
          font-size: 12px; }
          header .nav .nav1 .ul1 li a:hover {
            color: #FFFFFF;
            text-decoration: none; }
    header .nav .nav1 .top-right {
      float: right; }
      header .nav .nav1 .top-right .ul2 {
        margin-right: 100px; }
        header .nav .nav1 .top-right .ul2 li {
          float: left;
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;
          margin-top: -20px; }
          header .nav .nav1 .top-right .ul2 li a {
            color: #B0B0B0;
            text-decoration: none;
            font-size: 12px; }
            header .nav .nav1 .top-right .ul2 li a:hover {
              color: #FFFFFF;
              text-decoration: none; }
      header .nav .nav1 .top-right a .gouwuche {
        width: 100px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: rgba(66, 66, 66, 0.5);
        color: #B0B0B0;
        position: absolute;
        top: 0px;
        right: 80px; }
      header .nav .nav1 .top-right a .gouwuche1 {
        width: 300px;
        height: 95px;
        background-color: #EDFFC6;
        position: absolute;
        top: 40px;
        right: 80px;
        display: none;
        z-index: 100; }

.content {
  width: 100%; }
  .content #content-1 {
    width: 1200px;
    margin: 0 auto; }
    .content #content-1 .logo-header {
      padding-top: 20px; }
      .content #content-1 .logo-header .logo-img {
        width: 150px;
        float: left; }
        .content #content-1 .logo-header .logo-img .img1 {
          float: left; }
        .content #content-1 .logo-header .logo-img .img2 {
          float: right; }
      .content #content-1 .logo-header .aside {
        margin: 0;
        padding: 0;
        width: 600px;
        float: left;
        margin-left: 100px;
        position: relative; }
        .content #content-1 .logo-header .aside li {
          float: left;
          padding: 0 8px;
          margin-top: 20px; }
          .content #content-1 .logo-header .aside li a {
            color: #545454;
            font-size: 16px; }
            .content #content-1 .logo-header .aside li a:hover {
              color: #FF7315;
              text-decoration: none; }
          .content #content-1 .logo-header .aside li .ul2 {
            width: 100%;
            height: 150px;
            text-align: center;
            position: absolute;
            top: 75px;
            left: -15px;
            z-index: 10;
            background: #FFFFFF;
            display: none; }
            .content #content-1 .logo-header .aside li .ul2 li {
              width: 20%;
              height: 150px;
              line-height: 150px;
              color: #2C8B8B;
              font-size: 14px;
              margin: 0;
              padding: 0;
              float: left; }
      .content #content-1 .logo-header .input-groupnp {
        width: 248px;
        float: right; }
        .content #content-1 .logo-header .input-groupnp input {
          width: 200px;
          height: 48px;
          padding-left: 20px;
          float: left; }
        .content #content-1 .logo-header .input-groupnp .sosuo {
          width: 48px;
          border: 1px solid #A9A9A9;
          height: 48px;
          text-align: center;
          line-height: 48px;
          float: right; }
    .content #content-1 .aside1 {
      padding-top: 20px; }
      .content #content-1 .aside1 .aside-left {
        padding: 20px 0;
        width: 200px;
        background: #0D0D0F;
        float: left;
        position: relative; }
        .content #content-1 .aside1 .aside-left li {
          color: #FFFFFF;
          height: 40px;
          line-height: 40px; }
          .content #content-1 .aside1 .aside-left li a {
            text-decoration: none;
            color: #CACCC1; }
            .content #content-1 .aside1 .aside-left li a:hover {
              color: #FFFFFF; }
            .content #content-1 .aside1 .aside-left li a .span1 {
              float: left;
              display: inline-block;
              margin-left: 15px; }
            .content #content-1 .aside1 .aside-left li a .span2 {
              float: right;
              font-size: 22px;
              display: inline-block;
              margin-right: 15px; }
          .content #content-1 .aside1 .aside-left li .column-box {
            width: 400px;
            height: 440px;
            background-color: #FFFFFF;
            position: absolute;
            top: 0;
            left: 200px;
            display: none;
            z-index: 10; }
            .content #content-1 .aside1 .aside-left li .column-box li {
              width: 100%;
              height: 60px;
              line-height: 60px;
              padding-left: 20px; }
              .content #content-1 .aside1 .aside-left li .column-box li a {
                text-decoration: none;
                color: #575757; }
                .content #content-1 .aside1 .aside-left li .column-box li a:hover {
                  color: #FF7315; }
      .content #content-1 .aside1 .banner {
        width: 1000px;
        height: 440px;
        float: right;
        position: relative;
        overflow: hidden; }
        .content #content-1 .aside1 .banner .lb {
          width: 100%;
          height: 100%; }
          .content #content-1 .aside1 .banner .lb li {
            width: 100%;
            height: 100%;
            position: absolute;
            left: -1500px;
            top: 0px; }
            .content #content-1 .aside1 .banner .lb li a img {
              width: 100%;
              height: 440px; }
        .content #content-1 .aside1 .banner ol {
          position: absolute;
          top: 400px;
          left: 430px; }
          .content #content-1 .aside1 .banner ol li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            float: left;
            margin-left: 20px;
            background-color: #FFFFFF;
            cursor: pointer; }
        .content #content-1 .aside1 .banner div {
          font-size: 30px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          line-height: 40px;
          text-align: center;
          position: absolute;
          cursor: pointer;
          color: #FFFFFF; }
        .content #content-1 .aside1 .banner .left {
          top: 200px;
          left: 15px; }
        .content #content-1 .aside1 .banner .right {
          top: 200px;
          right: 15px; }
    .content #content-1 .box {
      padding-top: 10px; }
      .content #content-1 .box .box-left {
        width: 220px;
        float: left;
        background: #5F5750; }
        .content #content-1 .box .box-left ul li {
          width: 73px;
          height: 84.5px;
          float: left;
          text-align: center;
          padding-top: 20px; }
          .content #content-1 .box .box-left ul li p {
            font-size: 14px;
            color: #D6D4D2; }
            .content #content-1 .box .box-left ul li p:hover {
              color: #FFFFFF; }
      .content #content-1 .box .box-right {
        width: 975px;
        float: right; }
        .content #content-1 .box .box-right li {
          float: left;
          padding-left: 10px; }
    .content #content-1 .box1 {
      margin-top: 20px; }
      .content #content-1 .box1 .box1-top h3 {
        margin: 0;
        padding: 0;
        float: left; }
      .content #content-1 .box1 .box1-top .fy {
        float: right;
        width: 60px; }
        .content #content-1 .box1 .box1-top .fy span {
          border: 1px solid #ECECEC;
          width: 30px;
          height: 20px;
          line-height: 20px;
          text-align: center; }
          .content #content-1 .box1 .box1-top .fy span:first-child {
            float: left;
            color: #E4E7E9; }
          .content #content-1 .box1 .box1-top .fy span:last-child {
            float: right;
            color: #B2B5BA; }
      .content #content-1 .box1 .box1-bottom {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 15px; }
        .content #content-1 .box1 .box1-bottom li {
          width: 200px;
          height: 250px;
          float: left;
          text-align: center;
          padding: 20px 15px;
          background: #FAFAFA;
          margin-left: 50px; }
          .content #content-1 .box1 .box1-bottom li .p1 {
            margin-top: 30px;
            font-size: 14px; }
          .content #content-1 .box1 .box1-bottom li .p2 {
            font-size: 12px;
            color: #C2CAD8; }
          .content #content-1 .box1 .box1-bottom li:first-child {
            margin: 0; }
          .content #content-1 .box1 .box1-bottom li:nth-child(4) {
            padding: 60px 15px; }
          .content #content-1 .box1 .box1-bottom li:nth-child(5) img {
            width: 90px; }
          .content #content-1 .box1 .box1-bottom li span {
            color: #FF0000;
            font-size: 14px; }

#content-1 {
  width: 100%;
  background: #F5F5F5;
  padding: 50px 0; }
  #content-1 #wrapper-1 {
    width: 1200px;
    margin: 0 auto; }
    #content-1 #wrapper-1 .jiadian .jd-top p {
      font-size: 18px;
      font-weight: bold;
      float: left; }
    #content-1 #wrapper-1 .jiadian .jd-top ul {
      list-style: none;
      float: right; }
      #content-1 #wrapper-1 .jiadian .jd-top ul li {
        float: left;
        padding: 5px 0;
        margin-left: 16px; }
    #content-1 #wrapper-1 .jiadian .jd-bottom {
      list-style: none;
      margin-top: 15px; }
      #content-1 #wrapper-1 .jiadian .jd-bottom .jd {
        width: 220px;
        float: left; }
        #content-1 #wrapper-1 .jiadian .jd-bottom .jd img {
          width: 100%; }
      #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul {
        list-style: none;
        width: 960px;
        float: right; }
        #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul li {
          width: 225px;
          height: 283px;
          float: left;
          text-align: center;
          background: #FAFAFA;
          margin-left: 10px;
          background: #FFFFFF;
          margin-bottom: 10px;
          padding: 50px 0; }
          #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul li .p1 {
            margin-top: 30px;
            font-size: 14px; }
          #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul li .p2 {
            font-size: 12px;
            color: #C2CAD8; }
          #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul li:first-child {
            margin: 0; }
          #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul li:nth-child(5) {
            margin: 0; }
          #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul li .p3 {
            color: #FF7E27;
            font-size: 14px; }
            #content-1 #wrapper-1 .jiadian .jd-bottom .jd-ul li .p3 span {
              color: #B6B3B3;
              text-decoration: line-through; }
    #content-1 #wrapper-1 .box2 .zn-top {
      margin-bottom: 15px; }
      #content-1 #wrapper-1 .box2 .zn-top p {
        font-size: 18px;
        font-weight: bold;
        float: left; }
      #content-1 #wrapper-1 .box2 .zn-top ul {
        list-style: none;
        float: right; }
        #content-1 #wrapper-1 .box2 .zn-top ul li {
          float: left;
          padding: 5px 0;
          margin-left: 16px; }
    #content-1 #wrapper-1 .box2 .box2-bottom ul {
      list-style: none; }
      #content-1 #wrapper-1 .box2 .box2-bottom ul li {
        width: 230px;
        height: 300px;
        float: left;
        text-align: center;
        margin-left: 10px;
        background: #FFFFFF;
        margin-bottom: 10px;
        padding: 50px; }
        #content-1 #wrapper-1 .box2 .box2-bottom ul li:nth-child(1) {
          padding: 0;
          margin: 0; }
        #content-1 #wrapper-1 .box2 .box2-bottom ul li:nth-child(6) {
          padding: 0;
          margin: 0; }
        #content-1 #wrapper-1 .box2 .box2-bottom ul li .p1 {
          margin-top: 30px;
          font-size: 14px; }
        #content-1 #wrapper-1 .box2 .box2-bottom ul li .p2 {
          font-size: 12px;
          color: #C2CAD8; }
        #content-1 #wrapper-1 .box2 .box2-bottom ul li .p3 {
          color: #FF7E27;
          font-size: 14px; }
          #content-1 #wrapper-1 .box2 .box2-bottom ul li .p3 span {
            color: #B6B3B3;
            text-decoration: line-through; }
    #content-1 #wrapper-1 .box3 {
      margin-top: 20px; }
      #content-1 #wrapper-1 .box3 .box3-top h3 {
        margin: 0;
        padding: 0;
        float: left; }
      #content-1 #wrapper-1 .box3 .box3-top .fy {
        float: right;
        width: 60px; }
        #content-1 #wrapper-1 .box3 .box3-top .fy span {
          border: 1px solid #ECECEC;
          width: 30px;
          height: 20px;
          line-height: 20px;
          text-align: center; }
          #content-1 #wrapper-1 .box3 .box3-top .fy span:first-child {
            float: left;
            color: #E4E7E9; }
          #content-1 #wrapper-1 .box3 .box3-top .fy span:last-child {
            float: right;
            color: #B2B5BA; }
      #content-1 #wrapper-1 .box3 .box3-bottom {
        list-style: none;
        margin-top: 20px; }
        #content-1 #wrapper-1 .box3 .box3-bottom li {
          float: left;
          text-align: center;
          padding: 20px 15px;
          background: #FFFFFF;
          margin-left: 55px; }
          #content-1 #wrapper-1 .box3 .box3-bottom li .p1 {
            margin-top: 30px;
            font-size: 14px; }
          #content-1 #wrapper-1 .box3 .box3-bottom li .p2 {
            font-size: 12px;
            color: #C2CAD8; }
          #content-1 #wrapper-1 .box3 .box3-bottom li:first-child {
            margin: 0; }
          #content-1 #wrapper-1 .box3 .box3-bottom li span {
            color: #FF0000;
            font-size: 14px; }
    #content-1 #wrapper-1 .tuijain {
      margin-top: 20px; }
      #content-1 #wrapper-1 .tuijain .tuijian-top h3 {
        margin: 0;
        padding: 0;
        float: left; }
      #content-1 #wrapper-1 .tuijain .tuijian-top .fy {
        float: right;
        width: 60px; }
        #content-1 #wrapper-1 .tuijain .tuijian-top .fy span {
          border: 1px solid #ECECEC;
          width: 30px;
          height: 20px;
          line-height: 20px;
          text-align: center; }
          #content-1 #wrapper-1 .tuijain .tuijian-top .fy span:first-child {
            float: left;
            color: #E4E7E9; }
          #content-1 #wrapper-1 .tuijain .tuijian-top .fy span:last-child {
            float: right;
            color: #B2B5BA; }
      #content-1 #wrapper-1 .tuijain .tuijian-bottom {
        list-style: none;
        margin-top: 20px; }
        #content-1 #wrapper-1 .tuijain .tuijian-bottom li {
          float: left;
          text-align: center;
          padding: 20px 15px;
          background: #FFFFFF;
          margin-left: 55px; }
          #content-1 #wrapper-1 .tuijain .tuijian-bottom li .p1 {
            margin-top: 30px;
            font-size: 14px; }
          #content-1 #wrapper-1 .tuijain .tuijian-bottom li .p2 {
            font-size: 12px;
            color: #C2CAD8; }
          #content-1 #wrapper-1 .tuijain .tuijian-bottom li:first-child {
            margin: 0; }
          #content-1 #wrapper-1 .tuijain .tuijian-bottom li span {
            color: #FF0000;
            font-size: 14px; }
    #content-1 #wrapper-1 .reping {
      margin-top: 20px; }
      #content-1 #wrapper-1 .reping .reping-top h3 {
        margin: 0;
        padding: 0; }
      #content-1 #wrapper-1 .reping .reping-bottom {
        list-style: none;
        margin-top: 20px; }
        #content-1 #wrapper-1 .reping .reping-bottom li {
          float: left;
          width: 290px;
          background: #FFFFFF;
          margin-left: 10px; }
          #content-1 #wrapper-1 .reping .reping-bottom li img {
            width: 100%; }
          #content-1 #wrapper-1 .reping .reping-bottom li:first-child {
            margin: 0; }
          #content-1 #wrapper-1 .reping .reping-bottom li div {
            padding: 15px; }
            #content-1 #wrapper-1 .reping .reping-bottom li div .p1 {
              font-size: 14px;
              margin-bottom: 15px;
              color: #4D4A48; }
            #content-1 #wrapper-1 .reping .reping-bottom li div .p2 {
              font-size: 12px;
              color: #C2CAD8;
              margin-bottom: 10px; }
            #content-1 #wrapper-1 .reping .reping-bottom li div .p3 {
              color: #43484C;
              font-size: 14px; }
              #content-1 #wrapper-1 .reping .reping-bottom li div .p3 span {
                margin-left: 20px;
                color: #FF9147; }
    #content-1 #wrapper-1 .neirong {
      margin-top: 20px; }
      #content-1 #wrapper-1 .neirong .neirong-top h3 {
        margin: 0;
        padding: 0; }
      #content-1 #wrapper-1 .neirong .neirong-bottom {
        list-style: none;
        margin-top: 20px; }
        #content-1 #wrapper-1 .neirong .neirong-bottom li {
          float: left;
          width: 290px;
          height: 368px;
          text-align: center;
          padding: 30px 0;
          background: #FFFFFF;
          margin-left: 10px; }
          #content-1 #wrapper-1 .neirong .neirong-bottom li:nth-child(2) img {
            margin: 20px 0; }
          #content-1 #wrapper-1 .neirong .neirong-bottom li .p1 {
            margin-top: 30px;
            font-size: 14px; }
          #content-1 #wrapper-1 .neirong .neirong-bottom li .p2 {
            font-size: 12px;
            color: #C2CAD8; }
          #content-1 #wrapper-1 .neirong .neirong-bottom li .p4 {
            color: #FFC5AD;
            font-size: 14px; }
          #content-1 #wrapper-1 .neirong .neirong-bottom li:first-child {
            margin: 0; }
          #content-1 #wrapper-1 .neirong .neirong-bottom li .p5 {
            font-size: 14px;
            margin: 15px 0; }
    #content-1 #wrapper-1 .shipin {
      margin-top: 20px; }
      #content-1 #wrapper-1 .shipin .shipin-top h3 {
        margin: 0;
        padding: 0; }
      #content-1 #wrapper-1 .shipin .shipin-bottom {
        list-style: none;
        margin-top: 20px; }
        #content-1 #wrapper-1 .shipin .shipin-bottom li {
          float: left;
          width: 290px;
          text-align: center;
          padding: 30px 0;
          background: #FFFFFF;
          margin-left: 10px; }
          #content-1 #wrapper-1 .shipin .shipin-bottom li img {
            width: 100%; }
          #content-1 #wrapper-1 .shipin .shipin-bottom li .p1 {
            margin-top: 30px;
            font-size: 14px; }
          #content-1 #wrapper-1 .shipin .shipin-bottom li .p2 {
            font-size: 12px;
            color: #C2CAD8; }
          #content-1 #wrapper-1 .shipin .shipin-bottom li:first-child {
            margin: 0; }
          #content-1 #wrapper-1 .shipin .shipin-bottom li span {
            color: #FF0000;
            font-size: 14px; }

footer {
  width: 100%; }
  footer .foot {
    width: 1200px;
    margin: 0 auto;
    height: 330px; }
    footer .foot .yuyue {
      list-style: none; }
      footer .foot .yuyue li {
        float: left;
        width: 240px;
        border-right: 1px solid #ECECEC;
        margin: 15px 0;
        text-align: center; }
        footer .foot .yuyue li:nth-child(5) {
          border: none; }
    footer .foot hr {
      margin: 20px 0; }
    footer .foot .foot-center .bangzhu {
      width: 800px;
      list-style: none;
      float: left; }
      footer .foot .foot-center .bangzhu .li2 {
        float: left;
        text-align: center;
        margin-left: 70px;
        margin-bottom: 30px; }
        footer .foot .foot-center .bangzhu .li2 ul li {
          color: #D4C4B0;
          font-size: 14px; }
        footer .foot .foot-center .bangzhu .li2:first-child {
          margin: 0; }
        footer .foot .foot-center .bangzhu .li2:last-child {
          border-right: 1px solid #ECECEC;
          padding-right: 60px; }
    footer .foot .foot-center .xmkf {
      width: 400px;
      float: right;
      text-align: center; }
      footer .foot .foot-center .xmkf span {
        color: black;
        font-size: 20px;
        margin-bottom: 10px; }
      footer .foot .foot-center .xmkf p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #847970; }
      footer .foot .foot-center .xmkf button {
        background: transparent;
        border: 1px solid #FFB27E;
        color: black;
        padding: 5px 10px;
        font-size: 12px;
        margin-top: 20px; }
        footer .foot .foot-center .xmkf button:hover {
          background: #FFB27E;
          color: #FFFFFF; }
    footer .foot .foot-foot .foot-foot-left {
      width: 800px;
      float: left; }
      footer .foot .foot-foot .foot-foot-left a {
        text-decoration: none;
        float: left; }
      footer .foot .foot-foot .foot-foot-left div {
        float: right; }
        footer .foot .foot-foot .foot-foot-left div span {
          font-size: 10px; }
    footer .foot .foot-foot .foot-foot-right {
      width: 400px;
      float: right;
      margin-top: 15px; }
      footer .foot .foot-foot .foot-foot-right ul {
        list-style: none; }
        footer .foot .foot-foot .foot-foot-right ul li {
          float: left;
          padding: 5px; }
